html {
  box-sizing: border-box;
  background-color: #f5f2f0;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'Denk One', sans-serif; */

img {
  width: 100%;
}

h1 {
  color: #623b0c;
  font-family: "Denk One", sans-serif;
  margin-left: 0;
  padding-left: .5em;
}

h2 {
  color: #623b0c;
  font-family: "Denk One", sans-serif;
}

body {
  margin: 0;
  padding: 2.75px;
}

main {
  grid-area: main;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: .5em .75em .6em;
}

ol li {
  background-color: #ede3db;
  width: 100%;
  padding: .5em;
  border-style: solid;
  border-width: 2px;
  border-color: #623b0c;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul p {
  line-height: 1.5rem;
  color: #000;
  flex-grow: 1;
}

a {
  background-color: #623b0c;
  color: #fff;
  padding: .5em 1em;
  display: inline;
  text-decoration: none;
  border-radius: 8px;
}
